.vscode
.vscode-server

# Please edit the below file and add this text.
#<?php
#include("guard.php");
#$GLOBALS['group-sql-password'] = ''; # TODO: replace this empty string with what Isaac says
#?>

api/v1/get-group-password.php
